*.py[co]
*~

*.sqlite3

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

media/images
src/eukalypse_now/media/images
src/eukalypse_now/eukalypse_now/settings/local.py
docs/_build/
